<app-ex-sub-menu></app-ex-sub-menu>


<div class="container d-flex justify-content-center">
    <h2 class="text-start mt-5">Profesores</h2>

</div>

<!-- Botón que abre el modal -->
<div class="container mt-4">
    <div class="text-center d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-1" id="exampleModalLabel"><i
                        class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Grados Escolares</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">
                            <i class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Nombre del profesor
                        </label>
                        <input type="text" class="form-control" id="recipient-name"
                            placeholder="Ingrese el nombre completo">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"><i
                                class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Salario </label>
                        <input type="email" class="form-control" id="recipient-name"
                            placeholder="Ingrese el salario">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"><i
                                class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Grado</label>
                        <input type="email" class="form-control" id="recipient-name"
                            placeholder="Ingrese el grado que asiste ">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"><i
                                class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Horario de
                            entrada</label>
                        <input type="email" class="form-control" id="recipient-name"
                            placeholder="Ingrese el horario de entrada">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label"><i
                                class="bi bi-circle-fill me-2 ms-1 small-icon text-success"></i>Horario de
                            salida</label>
                        <input type="email" class="form-control" id="recipient-name"
                            placeholder="Ingrese el horario de salida">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="mr-auto">
                    <button type="button" class="btn btn-danger" placement="top">
                        <a href=""><i class="bi bi-x-circle text-white"></i></a>
                    </button>


                </div>
                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                    data-original-title="Descargar"><i class="bi bi-download text-white"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container ms-10 " style="padding: 100px;">
    <div class="container ms-5" style="text-align: center; justify-content: center;">
        <table class="table ms-5">
            <thead>
                <tr>
                  <th scope="col">No</th>
                    <th scope="col">Nombre del profesor</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Horario de entrada</th>
                    <th scope="col">Horario de entrada</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td>

                    </td>
        
                    <td>
                        <button class="btn btn-link" style="padding: 0;">
                            <a><i class="bi bi-trash3 fa-floppy-disk text-primary" style="padding: 0 10px;"></i></a>
                        </button>
    
                        <button type="submit" class="btn btn-link" style="padding: 0;">
                            <i class="bi bi-pencil-square text-primary" style="padding: 0 10px;"></i>
                        </button>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>